<div class="panel panel-default">

  <div class="panel-heading">
    <h3> {{ contact.name }} </h3>
    <div class="row">
      <div class="col-sm-6">
          <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive" style="max-height: 100px; margin: auto;">
      </div>
      <div class="col-sm-6 btn-toolbar">
        <hr>
          <a class="btn btn-primary btn-sm" routerLink="edit">Edit</a>
          <a class="btn btn-danger btn-sm" (click)="onDelete()">Delete</a>
      </div>
    </div>
  </div> <!-- panel-header -->

  <div class="panel-body">
    <p>Email: {{ contact.email }}</p>
    <p>Phone: {{ contact.phone }}</p>
    <p>Contacts in Team: </p>
    <div *ngFor="let contact of contact.group">
      <a href="#" class="list-group-item clearfix" >
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ contact.name }}</h4>
          <p class="list-group-item-text">{{ contact.email }}</p>
        </div>
        <span class="pull-right">
          <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
        </span>
      </a>
    </div>
  </div>

</div>
